name: pycistem CI

on:
  push:
    branches:
      - main
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10
  pull_request:
    branches:
      - main

jobs:
  compile_cistem:
    runs-on: ubuntu-22.04
    container: 
      image: cistemdashorg/cistem_build_env:v2.1.3
      options: --user root --rm
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
      name: Checkout pycistem
    - run: git -C cisTEM pull || git clone -b je_tmpackage_into_combined https://github.com/timothygrant80/cisTEM.git
      name: Checkout cisTEM
    - name: Get cisTEM sha
      id: getsha
      run: |
        cd cisTEM
        echo "::set-output name=sha::$(git rev-parse HEAD)"
    - name: Cache cisTEM
      uses: actions/cache@v3
      id: cache
      with:
        key: 'sha_${{ steps.getsha.outputs.sha }}'
        path: |
          cisTEM/build/gcc/src/libcore.a
          cisTEM/build/gcc/cistem_config.h
    - name: Build cisTEM
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        cd cisTEM
        ./regenerate_project.b
        . /opt/intel/oneapi/setvars.sh && export PATH=/usr/bin:$PATH
        mkdir -p build/gcc
        cd build/gcc
        CC=icc CXX=icpc CPPFLAGS=-fPIC CXXFLAGS=-fPIC CFLAGS=-fPIC ../../configure  --enable-staticmode --enable-samples --enable-experimental --enable-openmp --with-wx-config=wx-config
        cd src
        make -j 2 libcore.a
    - name: Create artifact
      uses: actions/upload-artifact@v4
      with:
        name: 'cisTEM artifact'
        path: |
          cisTEM/build/gcc/src/libcore.a
          cisTEM/build/gcc/cistem_config.h
  
  build:
    needs: compile_cistem
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        python: ['3.9','3.10','3.11']

    runs-on: ubuntu-22.04
    container: 
      image: cistemdashorg/cistem_build_env:v2.1.3
      options: --user root --rm
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - run: git -C cisTEM pull || git clone -b je_tmpackage_into_combined https://github.com/timothygrant80/cisTEM.git
      name: Checkout cisTEM
    - name: Install system dependencies
      run: apt-get update && apt-get install -y unzip wget
    - name: Install newer patchelf
      run: |
        wget https://github.com/NixOS/patchelf/releases/download/0.18.0/patchelf-0.18.0-x86_64.tar.gz
        tar -xzf patchelf-0.18.0-x86_64.tar.gz
        cp bin/patchelf /usr/local/bin/
        chmod +x /usr/local/bin/patchelf
        patchelf --version
    - name: Install pyenv
      uses: gabrielfalcao/pyenv-action@v11
    - name: Install python
      run: |
        pyenv install -s ${{ matrix.python }}
        pyenv local ${{ matrix.python }} && pip install -U pip    
    - name: Copy cisTEM artifact
      uses: actions/download-artifact@v4
      with:
        name: cisTEM artifact
        path: |
          cisTEM/build/gcc
    - name: Install Hatch
      run: pyenv local ${{ matrix.python }} && pip install hatch auditwheel
    - name: Build project
      run: |
        . /opt/intel/oneapi/setvars.sh && export PATH=/usr/bin:/opt/WX/icc-static/bin/:$PATH
        pyenv local ${{ matrix.python }} && hatch build
    - name: Repair wheels with auditwheel
      run: |
        pyenv local ${{ matrix.python }}
        for wheel in dist/*.whl; do
          auditwheel repair "$wheel" -w wheelhouse/
        done
    - name: Create artifact
      uses: actions/upload-artifact@v4
      with:
        name: 'Wheel for Python ${{ matrix.python }}'
        path: wheelhouse/pycistem*.whl
  
    - name: Publish
      if: contains(github.ref, 'tags')
      env:
        HATCH_INDEX_AUTH: ${{ secrets.PYPI_TOKEN }}
        HATCH_INDEX_USER: __token__
      run: |
        pyenv local ${{ matrix.python }} && hatch publish wheelhouse/*.whl


